<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{% url 'thanks_page' %}" method="POST">
    {% csrf_token %}
    {{ form }}
<button type="submit">Відправити</button>
</form>

{% if object_list %}
<h1>Телефонна книга</h1>
<table border="1" >
    <tr bgcolor="yellow">
    <td >Id</td>
    <td>Дата</td>
    <td>Ім'я</td>
    <td>Телефон</td>
    </tr>

    {% for obj in object_list %}
    <tr>
        <td>{{obj.id}} </td>
        <td>{{obj.order_dt}} </td>
        <td>{{obj.order_name}} </td>
        <td>{{obj.order_phone}} </td>
    </tr>
    {% endfor %}
{% else %}
    NO DATA
{% endif %}
</table>
<p><{{ text }}</p>
</body>
</html>